<!-- Note: We use the partials file because this is the where we're going to put all of our template files that aren't actually related to routes, they're just parcels that we include into our file 
    and here we gonna create a 'header.ejs' and the reason using the partials because it allows you to break out your ejs files into smaller files which is really inportant and it allows you to import these files mutiple times and other files so you dont have to duplicate your code all over the place  -->
<header>
    <a href="/">Mybrary</a>
    <ul>
        <li><a href="/authors">Authors</a></li>
        <li><a href="/authors/new">New Authors</a></li>
    </ul>
</header>
