<h2> New Authors </h2>
<form action="/authors" method="POST">
    <%- include('_form_fields') %>
    <a href="/authors">Cancel</a> <!-- Using anchor tag here instead of button because anchor tag are used to link things and buttoms are used to interact with forms or another objects  -->
    <button type="submit">Submit</button>
</form>